# FIREBASE ADMIN
FIREBASE_PROJECT_ID=boraservico
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@boraservico.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----"

# PUSH
FCM_ENABLED=true

# REALTIME
REALTIME_ENABLED=true
